/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #2196F3; /* Blue text color */
  margin: 20px;
}

h2 {
  color: #2196F3; /* Blue text color */
}

.card {
  background-color: #2E2E2E; /* Dark background color */
  border: 1px solid #424242; /* Extra-dark color for card border */
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-title {
  color: #2196F3; /* Bright blue text color for card title */
}

.card-body {
  color: #ffffff; /* White text color for card body */
}

strong {
  display: block;
  margin-bottom: 5px;
}

a {
  color: #2196F3; /* Blue text color for links */
}

input.form-control {
  background-color: #2E2E2E; /* Dark background color for input */
  color: #2196F3; /* Blue text color for input */
  border: 1px solid #424242; /* Extra-dark color for input border */
}

.navbar {
  background-color: #333; /* Dark background color for the menu */
}

.navbar a {
  color: #fff; /* White text color for menu items */
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}
