body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgray; /* Changed background color to dark gray */
    color: #ffffff; /* Changed default text color to white */
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #ffa500; /* Changed h1 color to orange */
    font-size: 24px;
    font-weight: bold;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.tile {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.tile:hover {
    transform: scale(1.05);
}

.tile-header {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.tile-body {
    padding: 15px;
    text-align: justify;
    line-height: 1.4;
}

.tile-links {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.link-button {
    background-color: #3498db;
    color: #ffffff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.link-button:hover {
    background-color: #297dbb;
}

/* Responsive Styles */

/* Tablets */
@media (max-width: 768px) {
    .dashboard {
        padding: 10px;
    }

    .tile {
        width: calc(50% - 20px);
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    .dashboard {
        padding: 10px;
    }

    .tile {
        width: calc(100% - 20px);
    }
}
