/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
    color: #333; /* Dark Gray */
}

header {
    background-color: #333; /* Dark Gray */
    padding: 10px;
}

h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Center the menu items on mobile */
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff; /* White */
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #555; /* Gray */
    display: inline-block; /* Ensure the links are block elements on mobile */
    margin-bottom: 5px; /* Add some spacing between buttons on mobile */
}

nav a:hover {
    background-color: #777; /* Darker Gray */
}

section {
    margin-top: 20px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; /* Adjust font size for better readability on smaller screens */
    }

    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }
}
